.settings/
# Uncomment below if you prefer not to commit Eclipse project metadata (test folder may need manual "Build Path" setup)
# .project
# .classpath

.vscode/

.DS_Store
Thumbs.db

target/

/bin/
