########################################
# Maven
########################################
target/
dependency-reduced-pom.xml

########################################
# Logs
########################################
logs/
*.log

########################################
# Generated output files
########################################
output/
*.csv

########################################
# IDE - Eclipse
########################################
.settings/
.project
.classpath

########################################
# IDE - VS Code
########################################
.vscode/

########################################
# OS Files
########################################
.DS_Store
Thumbs.db

########################################
# Temporary files
########################################
*.swp
*.tmp
*.bak